*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.choice{
    height: 158px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.choice:hover{
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    font-size: 1.5rem;
    margin-top: 3rem;
}

#user-score,#Comp-score, #rounds{
    font-size: 3rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    font-size: 2rem;
    color: white;
    background-color: black;
    display: inline;
    padding: 0.60rem;
    border-radius: 1.2rem;
}

